/* used by new ontology pages */

td.obsolete {text-decoration: line-through;color:red;}
.num {text-align:right; padding-left:2px; padding-right:2px;}
.mid {text-align:center; padding-left:2px; padding-right:2px;}

/* used by search */
.o_blue { color:blue; }
.o_red { color:red; }
.o_bk_dark { background-color:#AAAAAA; }
.o_bold { font-weight:bold; }
.searchTerm { font-size:10px;} /* input box for search term */
.sterm {font-size:10px;} /* input box for search term */
a.sterm {text-decoration: none; color:#333333;}

td.colh { background-color:#cccccc;font-weight:bold;vertical-align:top;}
.brtop { background-color:#a9a9a9;}
.tpane { border:solid 1px red;padding:5px;background-color:#ffebcd;vertical-align:top}
.aa {} /* style for non-selected term in middle window */
.bb {  /* style for selected term in middle window */
    font-weight:bold;
    color:black;
    padding-left:3px;
}
.seltermdef { /* definition for selected term */
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: black;
    padding-left:3px;
    padding-top:3px;
}
.seltermcomment { /* curation comments for selected term */
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: red;
    padding-left:3px;
    padding-top:3px;
    background-color:whitesmoke;
}
#parent_terms {padding-right:15px;}
.prel {float:right;margin-right:-15px;vertical-align:middle;} /* relation icon in parent window: right side */
#sibling_terms {background-color:yellow;border:solid 1px blue;padding-top:5px;padding-bottom:5px;padding-right:4px;}
.tp {padding-bottom:3px;text-indent:5px;} /* div for every item in parent & child windows */
.sibterm {
    text-decoration: underline;
    font-size: 10pt;
    cursor: pointer;
}
span.cc {cursor:help} /* child count for terms */
img.rel { width:15px; height:15px; vertical-align:-2px; }
a.annotlnk { background-image:url("/rgdweb/images/icon-a.gif");background-repeat:no-repeat; width:20px; padding-left:13px;vertical-align:-2px;}
a.diaglnk { background-image:url("/rgdweb/images/icon-d.gif");background-repeat:no-repeat; width:20px; padding-left:13px;vertical-align:-2px;}
.diaglnkdot { background-image:url("/rgdweb/images/icon-d-dot.gif");background-repeat:no-repeat; width:20px; padding-left:13px;vertical-align:-2px;}
a.binoculars { background-image:url("/rgdweb/images/binoculars.png");background-repeat:no-repeat; width:20px; padding-left:13px;vertical-align:-2px;}

.evenRow { background-color: #ffffff; }
.oddRow { background-color: #e2e2e2; }
.headerRow { background-color: #838383; font-weight: 700; font-size: 11px; color: white; font-family: arial; }
.srTr { color: black; font-size: 11px; font-family: arial; }
.srH1 { padding-top:12px; background-color:#b0c4de; color: black; font-size: 13px; font-family: arial; font-weight: 700; }
.srH2 { color: black; font-size: 10px; font-family: arial; font-weight: 500; }

/* annotations - object type indicator (colors taken from colorScheme array in gviewer.js) */
.anntype_genes { color:#7e131d; width:6px; height:9px; }
.anntype_qtls { color:#3294d3; width:6px; height:9px; }
.anntype_strains { color:#76ac1a; width:6px; height:9px; }

.objtag_gene   {background-color:#7e131d; padding-left:3px; padding-right:3px; text-align:center;}
.objtag_qtl    {background-color:#3294d3; padding-left:3px; padding-right:3px; text-align:center;}
.objtag_strain {background-color:#76ac1a; padding-left:3px; padding-right:3px; text-align:center;}
.objtag_variant{background-color:#bb9c61; padding-left:3px; padding-right:3px; text-align:center;}

#browser_graph /* term browser - window with graph at the page bottom */
{ text-align:center; }

.tree_box {
    border:solid 1px red;
    padding:5px;
    background-color:#ffebcd;
    vertical-align:top;
    height:320px;
    margin-right:5px;
    margin-left:5px;
    overflow: auto;
}
.syn_type { /* ontology browser, synonyms box, first column with synonym type */
    color:#555555;
    vertical-align:top;
    width:200px;
    font-weight: bold;
}
.term_select {
    font-size: smaller;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    background-color:#8AC007;
    padding-left: 2px;
    padding-right: 2px;
}
.term_select_disabled {
    font-size: smaller;
    border: 1px #525252 dotted;
    border-radius: 3px;
    background-color:#cccccc;
    padding-left: 2px;
    padding-right: 2px;
}
