body{
    font-size: small;
    font-family: 'Lucida Grande', sans-serif;
}
/*******************************************************************************************************/

#resultsTable {
    font: 1em/1.5em Georgia, serif;

  /*  border: 1px solid black;
    margin: 1em 1em 0 1em;*/
}
#resultsTable tbody td {
   /* width: 10em;*/
    line-height: 1.5em;
    padding: 0.25em;

}
#resultsTable tbody td {
    vertical-align: top;
}
table.type2 td {
    vertical-align: baseline;
}
#resultsTable tbody td sup{
    line-height: 2.5em;
}
td.three {
    line-height: 2em;
}
/*************************************************************************************************************/
/*#resultsTable{
    border-collapse: collapse;
    border-spacing: 0 5px;

}

#resultsTable thead th {
    background-color: #006DCC;
    color: white;
}

#resultsTable tbody td {
   /* background-color: #EEEEEE;*/

/*}

#resultsTable tr td:first-child,
#resultsTable tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#resultsTable tr td:last-child,
#resultsTable tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
/****************************************************************************************************************/
/*/#resultsTable td{
    padding:5px;
}*/
#resultsTable thead tr td, #results thead tr td{
    font-weight:bold;
    font-size: x-small;
  /*  background-color:#d3def6;*/
  /*  background-color:#24609c;*/
    background-color:#4484CE;
    color:white;
}

#resultsTable tbody tr td, #resultsTable tbody tr td a{
    color:black;

}

#resultsTable tbody tr:nth-child(odd){
    background-color:#f0f5f5;
}
#resultsTable tbody tr:last-child{
    border-bottom:10px solid #4484CE;
}
#resultsTable tbody tr:hover{
   /* background-color:#fffadb;*/
  /*  background-color:palegreen;*/
    background-color: #cdecff;
}
#resultsList thead tr td a{
    font-weight:bold;
    color:dodgerblue;
}

.sidenav {
    padding-top: 20px;
  /*  background-color: #f1f1f1;*/
    height: 100%;
}
.footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.summary a{
   font-size: small;


}
.summary td{
    font-size: small;
    padding: 5px;
}
#resultsTable .Gene, .Gene{
    font-weight: bold;
    color: #00b38f;

}
#resultsTable .Variant, .Variant{
   font-weight:bold;
    color: darkorange;

}
#resultsTable .SSLP, .SSLP{
    font-weight:bold;
    color: #cc0099;

}
#resultsTable .References, .References{
    font-weight:bold;
    color: darkgreen;

}
#resultsTable .QTL, .QTL{
    font-weight:bold;
    color: #C4376B;

}
#resultsTable .Strain, .Strain{
    font-weight:bold;
    color: #4b45a9;

}

.Rat{
   color: #A43820;
  /*  color:#ffe6e6;*/
}
.Human{
    color:#4192f4;
}
.Mouse{
    color:#6FB98F;
}
.Zebrafish{
    color:mediumpurple;
}
.Dog{
    color:#BC6D4F;
}
.Bonobo{
    color:#FFBB00;
}
.Chinchilla{
    color:#8241f4;
}
.Squirrel{
    color:#336B87;
}
#resultsTable .Rat i{

   color:#A43820;
   /* border-left:10px solid maroon;*/


}
#resultsTable .Mouse i{
    color: #6FB98F;
  /*  background-color:#b3ffda;*/
   /* border-left:10px solid lightgreen;*/
}
#resultsTable .Human i{
    color:#4192f4;
   /* background-color:#ccebff;
   /* border-left:10px solid dodgerblue;*/
}
#resultsTable .Zebrafish i{

    border-left:10px solid mediumpurple;
}
#resultsTable .Dog i{
    color: #BC6D4F;

   /* background-color: peachpuff;
    /*border-left:10px solid peachpuff;*/
}
#resultsTable .Squirrel i{
   color:#336B87;
   /* background-color: gainsboro;
   /* border-left:10px solid grey;*/
}
#resultsTable .Bonobo i{
   color: #FFBB00;
      /*  background-color: #fff0b3;
  /*  border-left:10px solid gold;*/
}
#resultsTable .Chinchilla i{
   color: #8241f4;
    /*    background-color:lightsteelblue;*/
   /* border-left:10px solid lightsteelblue;*/
}
#resultsTable .Pig i{
    color: pink;
    /*    background-color:lightsteelblue;*/
    /* border-left:10px solid lightsteelblue;*/
}
#resultsTable .Green i{
    color: green;
    /*    background-color:lightsteelblue;*/
    /* border-left:10px solid lightsteelblue;*/
}
#resultsTable .Naked i{
    color: navajowhite;
    /*    background-color:lightsteelblue;*/
    /* border-left:10px solid lightsteelblue;*/
}
#resultsTable .All{

    border-left:10px solid transparent;
}
#resultsTable .Phenotype, #resultsTable .Strains{
    background-color:transparent;
    color:black;
}
.highlight span{
    color:grey;

}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/****************************************************************************************/

.hideContent{
    overflow:hidden;
    line-height:1em;
    height:2em;
}
.showContent {
    line-height: 1em;
    height: auto;
}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
/*****************************************************************************************/
/*#resultsTable .Rat.R{


    border-right:5px solid maroon;
    border-left:0;


}
#resultsTable .Mouse.R{

    border-right:5px solid lightgreen;
    border-left:0;
}
#resultsTable .Human.R{


    border-right:5px solid dodgerblue;
    border-left:0;
}
#resultsTable .Bonobo.R{

    border-right:5px solid dodgerblue;
    border-left:0;
}
#resultsTable .Dog.R{

    border-right:5px solid dodgerblue;
    border-left:0;
}
#resultsTable .Squirrel.R{

    border-right:5px solid dodgerblue;
    border-left:0;
}
#resultsTable .Chinchilla.R{

    border-right:5px solid dodgerblue;
    border-left:0;
}*/
/**************************************************************************************************************/
.matrix a{
    display: block;
    width:100%;
    text-decoration:underline;
}
 .matrix:hover{
    background-color:#f0f5f5;
}
.ontologyCategories table tr:hover, .reference table tr:hover{
    background-color:#f0f5f5;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
}

#myBtn:hover {
    background-color: #555;
}

.tooltips {
    position: relative;
    display: inline-block;
  /* border-bottom: 1px dotted black;*/
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #24609c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
}

.boxed{
  /*  z-index:9999;background-color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boxedTools{
   /*   z-index:9999;background-color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.toolicon{
    width:30px;
    height:30px ;
    border:double dodgerblue;
    border-radius:4px;
}

.searchgroup{
    padding:5px;
    border:1px solid gainsboro;
}
.views:hover{
   background-color:#f0f5f5;
    cursor:pointer;
    padding:2px;


}
.scoreBoard table tr td{
    padding-left:10px
}

.btn-circle, .btn-circle-3d{
    border-radius: 50% !important;


}

.btn-primary.btn-circle{
    -webkit-box-shadow: 0 0 3px 1px #245580;
    -moz-box-shadow:    0 0 3px 1px #245580;
    box-shadow:         0 0 3px 1px #245580;
    background-color: mediumseagreen;

}


.circle {
    display: block;
    background: white;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin: 0;

}
.circle.Human{
    background: radial-gradient(circle at 5px 5px, #5cabff, #000);
}
.circle.Rat{
    background: radial-gradient(circle at 5px 5px, red, #000);
}
.circle.Mouse{
    background: radial-gradient(circle at 5px 5px,lightgreen, #000);
}
.circle.Dog{
    background: radial-gradient(circle at 5px 5px, sandybrown, #000);
}
.circle.Bonobo{
    background: radial-gradient(circle at 5px 5px, #FFBB00, #000);
}
.circle.Chinchilla{
    background: radial-gradient(circle at 5px 5px, #8241f4, #000);
}
.circle.Squirrel{
    background: radial-gradient(circle at 5px 5px, #336B87, #000);
}


#contentTable td{
    vertical-align: top;
}