/* used by HTMLTableReportStrategy and FixedPriceSecurityReportStrategy */

tr.evenRow td, tr.evenRow td a {
    /*min-width: 110px;*/
    background-color: #ffffff;
    color: black;
    font-size: 12px;
    font-family: arial;
    overflow:auto;
}
tr td:first-child {
    min-width: 108px;
}

tr.oddRow td, tr.oddRow td a {
    /*min-width: 110px;*/
    background-color: #F1F1F1;
    color: black;
    font-size: 12px;
    font-family: arial;
    overflow: auto;
}

tr.headerRow td {
    background-color: #99BFE6;
    font-weight: 700;
    font-size: 13px;
    color: white;
    font-family: arial;
}


/* x- styles are used only by FixedPriceSecurityReportStrategy */

.xsubtitleRow {
  font-size: 11px;
  text-decoration: underline;
  font-weight: 700;
}

.xtitle {
  font-weight: 700;
  font-size: 16px;
}

.xsubtitle {
  font-weight: 700;
  font-size: 12px;
}

/* from ontology.css */
a.diaglnk { background-image:url("/rgdweb/images/icon-d.gif");background-repeat:no-repeat; width:20px; padding-left:13px;vertical-align:-2px;}