
#t{
    border:1px solid #ddd;
    margin-top:2px;
    border-radius:2px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
#t th{
    max-width: 30px;
    background-color:#2865a3;
    color: white;
    padding: 5px;
}
#t td{
    max-width: 30px;
    padding: 5px;
}
#t  tr:nth-child(odd) {background-color:#E6E6FA}
.modal-body{
    width: 800px;
}
.heading
{
    margin-top: 2px;
    text-align: center;
    height: 40px;
    background: linear-gradient(135deg,#2655c1,#372f7f,#2655c1,#372f7f);
    color: #fff;
    font-weight: bold;
    line-height: 40px;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 3%;
    width: 25%;
    cursor: pointer;
    background: #2655c1;
    color: #fff;
}

.btn-primary:active {
    background-color: green;
}
