
.inputstl {
    padding: 9px;
    font-weight: bold;

}
.heading
{
    background-color: #3583d1;
    color:white;
    text-transform: capitalize;
    font-weight: bold;
    padding:10px 2px 10px 5px;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 3%;
    width: 15%;
    cursor: pointer;
    background: #3583d1;
    color: #fff;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #372f7f;
}
